#img{
    margin-left: 400px;
    margin-top: 60px;
    height : 350px;
    width : 500px;
    opacity : 0.4;
}

#nav{
    height: 30px;
}
#nav ul li a:hover{
    display: block;
    background-color: rgb(187, 184, 184);
    color: white;

}
p{
    font-size: 18px;
    padding-left : 150px;
    padding-right : 20px;
    text-align : justify;
    font-family: 'willow';
}

#para{
    padding-top:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.data{
    width:100%;
    height:170px;
    position: center;
    float: left;
}

#err1, #err2, #err3, #err4, #err5, #err6{
    color:red;
}



